.header {
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #eaeaea;

  .container {
    display: flex;
    align-items: center;

    .nav {
      ul {
        display: flex;
        list-style: none;

        li {
          margin-left: 1.5rem;
          cursor: pointer;

          &:hover {
            color: #646cff;
          }
        }
      }
    }
  }
}
